main.content.container
  .form-tabs.animated.fadeInLeft
    #form-header.form-header.flex
      button#login-btn.form-header-btn.login.active.animated(type='button') LOG IN
      button#signup-btn.form-header-btn.signup.animated(type='button') SIGN UP
  form#login-form.form-body.login-form.animated.fadeInLeft(method='post' action='/login')
    label.label(for='login-input') Login
    input#login-input.input(type='text' name='login' required='')
    label.label(for='login-password') Password
    input#login-password.input(type='password' name='login' required='')
    .flex.align-center
      input#login-submit.btn(type='submit' value='Login')
      a.forget-password(href='#') Forget password?
    .form-footer
      p.form-footer-title
        | ----------Login With----------
      .form-footer-btns.flex
        a#login-facebook.facebook-btn.btn.flex.align-center(href='#')
          span Facebook
        a#login-google.google-btn.btn.flex.align-center(href='#')
          span Google
        a#login-github.github-btn.btn.flex.align-center(href='#')
          span Github
  form#signup-form.form-body.signup-form.animated.fadeInRight.is-hide(method='post' action='/register')
    label.label(for='signup-login-input') Login
    input#signup-login-input.input(type='text' name='signup-login')
    label.label(for='signup-email-input') Email
    input#signup-email-input.input(type='email' name='signup-email')
    label.label(for='signup-password') Password
    input#signup-password.input(type='password' name='signup-password')
    .phone.flex.align-bottom
      .phone-label-input
        label.label(for='signup-phone-input') Phone Number
        input#signup-phone-input.input.phone-input(type='text' name='signup-phone' placeholder='+380123456789' minlength='12' maxlength='13')
      button#verificate.verificate.btn Verificate
    label.label(for='signup-vercode') Verification code
    input#signup-vercode.input(type='text' name='signup-vercode' placeholder='****')
    input#signup-submit.btn.signup-btn(type='submit' value='Sign Up')
    p.agreement
      | By clicking Sign Up, you agree to hifriends&apos;s
      br
      | &#x9;&#x9;&#x9;&#x9;User Agreement, Privacy Policy, and Cookie Policy.
    .form-footer
      p.form-footer-title
        | ----------Sign Up With----------
      .form-footer-btns.flex
        a#signup-facebook.facebook-btn.btn.flex.align-center(href='#')
          span Facebook
        a#signup-google.google-btn.btn.flex.align-center(href='#')
          span Google
        a#signup-github.github-btn.btn.flex.align-center(href='#')
          span Github
