doctype html
html
  head
    title Sample Authentication
    meta(name='description', content='Sample Authentication')
    meta(name='keywords', content='Nodejs, Express, Mongoose, Pug, Passportjs')
    meta(name='author', content='Ivan Stelmakh')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" href="/img/favicon.png" type="image/png" size="32x32")
    link(rel='stylesheet' href='/css/main.css')
  body
    include sections/header
    main.content.container
      include sections/welcome
      != messages('sections/messages', locals)
      if errors
          each error, i in errors
            div(class='alert alert-danger') #{error.msg}
      if(!user)
        .form-tabs
          .form-header.flex
            a#login-btn.form-header-btn.login.animated(href='/users/login') LOG IN
            a#signup-btn.form-header-btn.signup.animated(href='/users/register') SIGN UP
      block content
    include sections/footer

    script(src='/js/index.js')
