html {
  font-size: 13px;
  max-width: 100%;
  overflow: hidden;
}

body {
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:active {
    color: inherit;
  }
}

ul, li {
  list-style-type: none;
}

ul, li, p {
  margin: 0;
  padding: 0;
}
